USE [library_mgmt]
GO
/****** Object:  StoredProcedure [dbo].[CheckoutBook]    Script Date: 05/08/2025 16:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CheckoutBook]	
	@book_id INT,
	@student_id INT,
	@date_checkout DATETIME
AS
BEGIN
	DECLARE @total_available INT;
	
	SELECT @total_available = NC.no_copies - COALESCE(B.no_copies_taken_out, 0)
	FROM(
		SELECT book_id, no_copies AS no_copies
		FROM books 
		WHERE book_id = @book_id
	) NC
	LEFT JOIN
	(
		SELECT  book_id, COUNT(*) AS no_copies_taken_out
		FROM book_status
		WHERE book_id = @book_id AND date_returned IS NULL
		GROUP BY book_id
	) B ON NC.book_id = B.book_id

	IF @total_available > 0
	BEGIN 
		INSERT INTO book_status (book_id, student_id, date_checkout)
		VALUES (@book_id, @student_id, @date_checkout);
	END
	ELSE
	BEGIN
		RAISERROR (50001, 16, 1);
    END
END;

